<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cody.moviedatabase" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".About"
            android:label="About"
            android:parentActivityName=".MainActivity" >
        </activity>
        <activity
            android:name=".Info"
            android:label="Info"
            android:parentActivityName=".MainActivity" >
        </activity>
        <activity
            android:name=".HomeInfo"
            android:label="@string/title_activity_home_info"
            android:parentActivityName=".MainActivity" >
        </activity>
        <activity
            android:name=".ItFollowsInfo"
            android:label="ItFollowsInfo"
            android:parentActivityName=".MainActivity" >
        </activity>
        <activity
            android:name=".GetHardInfo"
            android:label="GetHardInfo"
            android:parentActivityName=".MainActivity" >
        </activity>
        <activity
            android:name=".CinderellaInfo"
            android:label="CinderellaInfo"
            android:parentActivityName=".MainActivity" >
        </activity>
        <activity
            android:name=".InsurgentInfo"
            android:label="InsurgentInfo"
            android:parentActivityName=".MainActivity" >
        </activity>
        <activity
            android:name=".KingsmanInfo"
            android:label="KingsmanInfo"
            android:parentActivityName=".MainActivity" >
        </activity>
        <activity
            android:name=".BelieveInfo"
            android:label="BelieveInfo"
            android:parentActivityName=".MainActivity" >
        </activity>
        <activity
            android:name=".RunInfo"
            android:label="@string/title_activity_run_info"
            android:parentActivityName=".MainActivity" >
        </activity>
        <activity
            android:name=".MarigoldInfo"
            android:label="MarigoldInfo"
            android:parentActivityName=".MainActivity" >
        </activity>
        <activity
            android:name=".GunmanInfo"
            android:label="GunmanInfo"
            android:parentActivityName=".MainActivity" >
        </activity>
        <activity
            android:name=".TrailerActivity"
            android:label="@string/title_activity_trailer"
            android:parentActivityName=".MainActivity" >
        </activity>
        <activity
            android:name=".ReviewActivity"
            android:label="@string/title_activity_review"
            android:parentActivityName=".MainActivity" >
        </activity>
    </application>

</manifest>
